{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home1.css" %}{% endblock %}

{% block content %}

<div id="content_home">
  <embed src="/static/Strip.m4a" autostart="true" hidden="true" loop="-1">

    <div id="homeimg">
        <a href="/"><img src="{% static 'img/harry.gif' %}" style="height:256px;"/></a>
        <h4 style="margin: 0;">1조 블로그입니다.</h4>
    </div>

    <!-- <hr style="margin: 5px 0;"> -->

    <!-- <h2>애플리케이션 고르기</h2>

    <table id="applist">
        <tr>
        <td><b><i><a href="{% url 'bookmark:index' %}">북마크</a></i><b></td>
        <td>당신은 자신만의 북마크를 저장할 수 있습니다. 또한 업데이트, 삭제도 가능합니다.</td>
        <td class="Edit"><i><a href="{% url 'bookmark:add' %}">추가</a></i></td>
        <td class="Edit"><i><a href="{% url 'bookmark:change' %}">변경</a></i></td>
        </tr>

        <tr>
        <td><b><i><a href="{% url 'blog:index' %}">블로그</a></i><b></td>
        <td>T이 응용 프로그램은 일상적인 이벤트를 기록하거나 취미나 기법 등의 관심사를 작성할 수 있게 해 줍니다.</td>
        <td class="Edit"><i><a href="{% url 'blog:add' %}">추가</a></i></td>
        <td class="Edit"><i><a href="{% url 'blog:change' %}">변경</a></i></td>
        </tr>

        <tr>
        <td><b><i><a href="{% url 'photo:index' %}">사진</a></i><b></td>
        <td>이 응용 프로그램을 통해 자신만의 사진을 업로드할 수 있습니다. 앨범을 삭제하면 해당 앨범의 모든 사진이 삭제됩니다.</td>
        <td class="Edit"><i><a href="{% url 'photo:album_add' %}">추가</a></i></td>
        <td class="Edit"><i><a href="{% url 'photo:album_change' %}">변경</a></i></td>
        </tr>
    </table> -->
</div>
{% endblock content %}

{% block footer %}
<div id="footer">
    &copy; 1조 블로그( 문혜리, 조혜영, 정현진 )
</div>
{% endblock footer %}
